<div class="sbody">
    <div class="simage">
        <%= thumbnail_for(comment.commenter) %>
    </div>
    <div class="stext">
        <strong><%= link_to comment.commenter.username, comment.commenter %></strong><br />
        <%= comment.content %>
        <div class="sttime">
            <%= time_ago_in_words(comment.created_at) %> ago            
        </div> 
    </div>
</div>
