<div class="sbody">
    <div class="simage"><img src="http://placehold.it/50x50"></div>
    <div class="stext">
        <strong><%= comment.commenter.username %></strong><br />
        <%= comment.content %>
        <div class="sttime"><%= time_ago_in_words(comment.created_at) %> ago</div> 
    </div>
</div>