<% provide(:title, "All users") %>
<h1>All users</h1>
<%= will_paginate %>
<ul>
	<% for user in @users do %>
	   <li><%= thumbnail_for(user) %> <%= link_to user.name, user %></li><br />
	<% end %>
</ul>
<%= will_paginate %>


