<% provide(:title, "All users") %>
<% content_for(:head)  do %>
<script>
    $(document).ready(function() {
        $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
    });
</script>
<% end %>
<div id="wrapper">
    <div id="profile">
        <div id="photo-info">
            <h4>Top Female</h4>
            <div id="photo">
                <img src="http://placehold.it/250x250" width="250" height="250" alt="user-4" />
                <div class="spacer"></div>
                <button class="btn btn-inverse btn-mini">View Profile</button> 
                <span class="pull-right">966 votes</span>
            </div>
            <div class="spacer"></div>
            <h4>Top Male</h4>
            <div id="photo">
                <img src="http://placehold.it/250x250" width="250" height="250" alt="user-4" />
                <div class="spacer"></div>
                <button class="btn btn-inverse btn-mini">View Profile</button> 
                <span class="pull-right">966 votes</span>
            </div>
        </div>
        <div id="profile-info">
            <div class="rating">All users</div>
            <%= render 'layouts/users'%>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>



