<% provide(:title, @user.name) %>
	<div id="wrapper">
    <div id="profile">
      <div id="photo-info">
      <h4>Hi <%= @user.name %></h4>
      <div id="photo"><%= gravator_for @user %></div>
      <table width="100%">
        <tr>
          <td width="50%" align="center"><button class="btn btn-block" type="button"><i class="icon-thumbs-up"></i> 15</button>
</td>
          <td width="50%" align="center"><button class="btn btn-block" type="button"><i class="icon-thumbs-down"></i> 5</button></td>
        </tr>
      </table>
    <div class="spacer"></div>
      <div class="rating">Quick Stats</div>
      <p>Member Since <%= @user.created_at %></p>
      <p>Last Seen: 8 hours ago</p>
      </div>
      <div id="profile-info">
      	<% if flash[:success] %>
      	   <div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a>Profile Updated</div>
      	<% end %>
        <div class="rating">
        	<span class="pull-left">Average Rating</span>
       	  <div class="clear"></div>
        </div>
        <table width="617">
          <tr>
          <td width="29%" height="130" align="center"><%= image_tag("star.png",width: 128, height: 128, alt: "star")%></td>
          <td width="71%" colspan="2" rowspan="2" valign="top"><table width="100%" cellpadding="5" class="table-hover">
            <tr>
              <td width="36%"><strong>Total Votes</strong></td>
              <td width="64%"> 1500</td>
            </tr>
            <tr>
              <td><strong>Profile Views</strong></td>
              <td>2536</td>
            </tr>
            <tr>
              <td><strong>Current Position</strong></td>
              <td>#85</td>
            </tr>
          </table>
<br /><p class="smart-title">Rank Cynthia</p>
            <form id="form1" name="form1" method="post" action="">
              <p>
                <label for="ratebox"></label>
                <select name="ratebox" id="ratebox" class="span4">
                  <option>Give your rating</option>
                  <option value="1">1 - Not attractive</option>
                  <option value="2">2 - Respectable</option>
                  <option value="3">3 - Decent or Attractive</option>
                  <option value="4">4 - Girlfriend Material</option>
                  <option value="5">5 - Super Hottie</option>
                </select>
              </p>
          </form>
            <p><b>Average Overview </b> <span class="label label-warning">Girlfriend Material</span></p></td>
          </tr>
          <tr>
            <td height="83" align="center" valign="middle"><span class="clear"><span class="big-rating">85%</span></span></td>
          </tr>
        </table>
    <div class="spacer"></div>
    <div class="rating">About Me</div>
    <p>The Lisbon Appointment was the decision in 1965 by Britain's self-governing colony in Rhodesia to open its own diplomatic mission in Lisbon, the Portuguese capital, which would operate independently from the British embassy there. Britain objected to the proposal when it was put forward in June 1965, and tried unsuccessfully to block it. The affair came amidst the larger dispute between Whitehall and Salisbury about sovereign independence for the colony. Whitehall insisted that there could be no independence before majority rule, which was opposed by Rhodesia's mostly white government.</p>
        <div class="spacer"></div>
      <div class="rating">More Photos</div>
      <a class="fancybox" href="users/user-1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="users/thumb1.jpg" alt="" /></a>
      <a class="fancybox" href="users/user-2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="users/thumb2.jpg" alt="" /></a>
      <a class="fancybox" href="users/user-3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="users/thumb3.jpg" alt="" /></a>
      <img src="users/thumb1.jpg" width="150" height="150" alt="" />
      <hr />
      <h4>Leave a comment</h4>
      <form id="form2" name="form2" method="post" action="">
        <label for="comments"></label>
        <textarea name="comments" id="comments" cols="45" rows="3" class="btn-block comment-box"></textarea>
        <input type="submit" name="comment" id="comment" value="Comment" class="btn" />
      </form>
      <div class="sbody">
  		<div class="simage"><img src="http://placehold.it/50x50"></div>
  		<div class="stext">Content for  class "stext" Goes Here
  		<div class="sttime">2 seconds ago</div> 
  	 </div>
	</div>
    
     <div class="sbody">
  		<div class="simage"><img src="http://placehold.it/50x50"></div>
  		<div class="stext">Content for  class "stext" Goes Here
  		<div class="sttime">2 seconds ago</div> 
  	 </div>
	</div>
    
     <div class="sbody">
  		<div class="simage"><img src="http://placehold.it/50x50"></div>
  		<div class="stext">Content for  class "stext" Goes Here
  		<div class="sttime">2 seconds ago</div> 
  	 </div>
	</div>
   
      </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>
