@charset "utf-8";

/* Import Bootstrap Gem */
@import "bootstrap";

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 40px;
  background: #fafafa url("bg.png") repeat -70% 0;
}
h1, h2, h3, h4, h5, h6 {
  color: #595959;
  line-height: 1.25em;
  text-shadow: #ffffff 0 1px 0;
}

h1 {
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  text-shadow: #ffffff 0 1px 1px;
}

.navbar-inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

#container {
  min-height: 100%;
  position: relative;
  width: 100%;
}

.container {
  padding-left: 30px;
}

#container {
  #navigation {
    width: 100%;
  }
  #wrapper {
    width: 935px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  #header {
    height: 250px;
    width: 100%;
    background-image: url(body-bg-1.jpg);
    background-repeat: repeat-x;
  }
}

.header-bigtext {
  font-size: 50px;
  line-height: 100px;
  font-weight: bold;
  color: #FFF;
  display: block;
}

.header-smalltext {
  color: #FFF;
  font-size: 20px;
}

#container #wrapper #slider {
  width: 500px;
  height: 300px;
  float: left;
  margin-top: 10px;
  background-color: #FFF;
  padding: 5px;
}

.clear {
  clear: both;
}

#container #wrapper .signup {
  width: 400px;
  float: right;
  .signup-box {
    margin-top: -90px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -1px 20px rgba(50, 50, 50, 0.63);
    -moz-box-shadow: 0px -1px 20px rgba(50, 50, 50, 0.63);
    box-shadow: 0px -1px 20px rgba(50, 50, 50, 0.63);
    .signup-header {
      height: 35px;
      background-color: #DEE1E8;
      border-top-width: 2px;
      border-right-width: 2px;
      border-bottom-width: 2px;
      border-left-width: 2px;
      border-bottom-style: solid;
      border-top-color: #999;
      border-right-color: #999;
      border-bottom-color: #999;
      border-left-color: #999;
      padding-top: 13px;
      color: #404751;
      border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
    }
    .signup-content {
      text-align: left;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.spacer {
  height: 10px;
}
.well {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
}

#wrapper {
  #photo {
    height: 300px;
    width: 250px;
    padding: 5px;
    background-color: #FFF;
    margin-bottom: 20px;
    position: relative;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: rgba(0,0,0, .8);
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
  }
  #profile {
    padding: 5px;
    margin-top: 15px;
    #profile-info {
      float: right;
      margin-right: 15px;
      width: 620px;
      padding: 5px;
    }
  }
}

.profile-user-header {
background-color: #333;
background: #2a2a2a no-repeat;
background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#222)) no-repeat;
background: -moz-linear-gradient(top, #333, #222) no-repeat;
background: -o-linear-gradient(top, #333, #222) no-repeat;
filter: progid:DXImageTransform.Microsoft.gradient(gradientType=linear, startColorstr='#FF333333', endColorstr='#FF222222');
-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#333', EndColorStr='#222');
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
border-top-left-radius: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
font-family: "hnbc","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: normal;
font-size: 20px;
color: #fff;
text-shadow: 0 0 2px rgba(0,0,0,0.2);
height: 44px;
line-height: 43px;
padding: 0 20px;
overflow: hidden;
}

.rank {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset,0 1px 0 rgba(255,255,255,0.1);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset,0 1px 0 rgba(255,255,255,0.1);
box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset,0 1px 0 rgba(255,255,255,0.1);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
background-color: rgba(0,0,0,0.3);
display: inline-block;
float: right;
height: 30px;
line-height: 25px;
padding: 4px 10px 0;
position: relative;
top: 5px;
color: #fff;
font-size: 22px;
}

.big-rating {
  font-size: 30px;
  margin-left: 10px;
}

#container #wrapper #profile #photo-info {
  width: 260px;
  float: left;
  margin-top: 0px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.smart-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #333;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-bottom-style: solid;
  border-top-color: #999;
  border-right-color: #999;
  border-bottom-color: #999;
  border-left-color: #999;
  text-transform: uppercase;
}

.comment-box {
  resize: vertical;
  padding: 5px;
  background-color: white;
  font-size: 12px;
}

.comments {
  background: #f0f0f0;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
}

.sbody {
  min-height: 70px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #999;
}

.simage {
  float: left;
  height: 50px;
  width: 50px;
  border: solid 1px #dedede;
  padding: 3px;
  background-color: #fff;
}

.stext {
  margin-left: 70px;
  min-height: 50px;
  word-wrap: break-word;
  overflow: hidden;
  padding-right: 5px; 
  padding-bottom: 5px;
  display: block;
  text-shadow: #ffffff 0 1px 1px;
  font-size: 12px;
}

.sttime {
  font-size: 12px;
  color: #999;
}

#container #wrapper {
  #edit {
    margin-top: 20px;
    padding: 5px;
  }
  #profile #profile-info #user {
-moz-box-shadow: 0px 1px 2px #404040;
-webkit-box-shadow: 0px 1px 2px #404040;
box-shadow: 0px 1px 2px #404040;
    #image {
      height: 150px;
      width: 200px;
      float: left;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: solid thin #ccc;
      overflow: hidden;
    }
    #profile-summary {
      float: left;
      margin-left: 15px;
      width: 400px;
      padding-top: 5px;
    }
    background-color: #FFF;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
  }
}

.add-margin {
  margin-left: 30px;
}

small {
  color: #999999;
}

.search {
  background-color: transparent;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 300px;
  top: 6px;
}

.navbar-inverse .navbar-search .search-query {
  background-color: rgb(165, 165, 165);
}
.small {
  color: #8c8c8c;
  font-size: 11px;
  line-height: 13px;
  padding: 2px 0 2px 17px;
}

  #photo:before, #photo:after 
  {
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7); 
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);   
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);    
    -moz-transform: rotate(-3deg);   
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  #photo:after 
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }
  #nav-messages{
  background-color: #F3F3F3;
  width: 260px;
  margin-top: 20px;
  padding: 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 1px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 1px 3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 1px 3px rgba(50, 50, 50, 0.75);
}
.easyPieChart {
    position: relative;
    text-align: center;
}

.easyPieChart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
#user-profile #chart-outer {
  float: left;
  text-align: center;
}
#user-profile #chart-outer .chart{
  height: 180px;
  width: 180px;
  margin-bottom: 10px;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: rgb(230, 230, 230);
}
.add-pad {
  padding: 5px;
}
.white-bg {
  background-color:#FFF !important;
  padding: 0px !important;
}
#user-profile{
  padding: 20px;
}
#stars {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 2px;
  width: 255px;
  padding-left: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 5px rgba(221,221,221,0.27);
  -webkit-box-shadow: 1px 1px 10px 5px rgba(221,221,221,0.27);
  -moz-box-shadow: 1px 1px 10px 5px rgba(221,221,221,0.27);
  border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
  border-bottom: solid thin #F5FBEF;
}
.text-success {
  color: #468847;
  display: none;
  text-align: center;
 
}
#count {
  margin-left: 5px;
}
.morebox {
  @extend .comments;
  margin-bottom: 2px;
  padding-bottom: 3px;
  padding-left: 8px;
  font-size: 12px;
}
#comments_count{
  @extend .morebox;
}
.grayscale{
  opacity: 0.75;
}
.gif {
  display: none;
}
