<div id="header">
  	<div id="wrapper">
       	<span class="header-bigtext"> HOT OR NOT ?!  </span>
        <span class="header-smalltext">Upload the best of your photos and find out what really people think about you !!</span>
   	</div>
</div>