<!-- Start Navigaiton -->
		<div id="navigation">
			<div class="navbar navbar-fixed-top navbar-inverse">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="#">The Acquianter</a>
						<div class="nav-collapse">
							<ul class="nav pull-right">
								<li><%= link_to "About", about_path =%></li>
								<li><%= link_to "Sign Up", signup_path %></li>
								<li><a href="signin.html">Log In</a></li>
							</ul>
						</div><!-- /.nav-collapse -->
					</div><!-- /.container -->
		  		</div><!-- /.navbar-inner -->
	  		</div><!-- /.navbar -->
		</div>
		<!-- End of navigation -->